@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
	--font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

body {
	font-family: var(--font-sans);
	background-color: var(--color-zinc-50);
	color: var(--color-zinc-900);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-zinc-950);
		color: var(--color-zinc-100);
	}
}
